.logo{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo img{
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
.logo span{
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    font-size: 2rem;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.carousel{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,16,16);
background: linear-gradient(90deg, rgba(255,255,255,1) 52%, rgba(255,16,16,1) 52%);
    clip-path: ellipse(95% 90% at 35% 92%);
}

